@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  @apply relative overflow-hidden p-2 text-left border rounded-lg text-black border-gray-300 bg-gray-200 shadow-md h-full hover:bg-gray-100 hover:text-opacity-70 hover:shadow-lg;
}

.card::before {
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #cdcdcd;
  transform: rotate(-40deg) translate(2px, 2px);
  border-radius: 50%;
  opacity: 0.25;
}

.card::after {
  bottom: -1.95rem;
  right: -1.95rem;
  width: 80px;
  height: 80px;
  transform: rotate(-40deg) scale(1);
  border-radius: 50%;
  opacity: 0.5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
  background-position: top center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.card::before,
.card::after {
  position: absolute;
  content: '';
  z-index: 1;
}

.logo {
  pointer-events: none;
  text-align: center;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 1s linear;
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(0, 50, 0, 180deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.preloader {
  background: rgba(0, 0, 0, 1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 999999;
}
